<a href="https://colab.research.google.com/github/LYZAcell/data_study/blob/main/%EC%9D%B8%EA%B5%AC%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# 인구데이터 전처리
- utf-8 엔코딩형식으로 df다시뽑기
- 연도별로 1 2로 합쳐야함.
- 인구데이터 지역별 아동 인구 수  df  (2008~2024)    (시계열)
    - 전체아동 8살부터\~19살까지 (초1\~고3) 구분

In [4]:
df = pd.read_csv('./행정구역_연도별_총주민등록인구.csv', encoding='euc-kr')

In [5]:
df

,행정구역(시군구)별,연령별,항목,단위,2024.07 월,2008 년,2009 년,2010 년,2011 년,2012 년,...,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년,2022 년,2023 년,Unnamed: 21
0,전국,계,총인구수[명],명,51265238,49540367.0,49773145.0,50515666.0,50734284.0,50948272,...,51529338,51696216,51778544,51826059,51849861,51829023,51638809,51439038,51325329,NaN
1,전국,계,남자인구수[명],명,25528507,24822897.0,24929939.0,25310385.0,25406934.0,25504060,...,25758186,25827594,25855919,25866129,25864816,25841029,25746684,25636951,25565736,NaN
2,전국,계,여자인구수[명],명,25736731,24717470.0,24843206.0,25205281.0,25327350.0,25444212,...,25771152,25868622,25922625,25959930,25985045,25987994,25892125,25802087,25759593,NaN
3,전국,0세,총인구수[명],명,223834,444421.0,424529.0,448516.0,451579.0,464374,...,424563,393674,345786,317685,295132,265087,253946,244250,225958,NaN
4,전국,0세,남자인구수[명],명,114623,228977.0,218756.0,231521.0,231954.0,238639,...,217775,201541,178138,162950,151494,135661,130157,124860,115707,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5503,제주특별자치도,99세,남자인구수[명],명,4,5.0,3.0,6.0,5.0,5,...,5,7,7,6,14,9,11,11,5,NaN
5504,제주특별자치도,99세,여자인구수[명],명,58,43.0,35.0,42.0,56.0,49,...,61,69,62,69,74,114,132,175,46,NaN
5505,제주특별자치도,100세 이상,총인구수[명],명,258,64.0,75.0,174.0,172.0,186,...,213,231,242,247,270,296,195,231,295,NaN
5506,제주특별자치도,100세 이상,남자인구수[명],명,19,2.0,5.0,20.0,18.0,21,...,24,26,27,27,34,40,10,9,17,NaN
5507,제주특별자치도,100세 이상,여자인구수[명],명,239,62.0,70.0,154.0,154.0,165,...,189,205,215,220,236,256,185,222,278,NaN

In [ ]:
df23 = pd.read_csv('./23년_주민등록인구.csv', encoding='euc-kr')

In [ ]:
df24 = pd.read_csv('./24년_주민등록인구.csv', encoding='utf-8')

In [ ]:
df23

      행정구역(시군구)별      연령별   2023.07  2023.07.1  2023.07.2
0     행정구역(시군구)별      연령별  총인구수 (명)  남자인구수 (명)  여자인구수 (명)
1             전국        계  51387133   25603147   25783986
2             전국       0세    234734     120320     114414
3             전국       1세    255435     130552     124883
4             전국       2세    271878     139368     132510
...          ...      ...       ...        ...        ...
1832     제주특별자치도      96세       182         19        163
1833     제주특별자치도      97세       123          9        114
1834     제주특별자치도      98세        88          6         82
1835     제주특별자치도      99세        55          7         48
1836     제주특별자치도  100세 이상       323         16        307

[1837 rows x 5 columns]

# process
1. 연령별 컬럼을 8~19세로 필터링
  - 만나이로 등록되어있으니 6세~18세?
2. 구에 따라 1,2로 merging
3. 컬럼반전 2008 - 인원으로

In [8]:
# 열 이름 필터링
cols_age = ['연령별','계', '6세','7세','8세','9세','10세','11세','12세','13세','14세','15세','16세','17세','18세']

# 필터링 후 인덱스 리스트로 만들기
drop_index = df[~df['연령별'].isin(cols_age)].index

# 해당 인덱스 드롭하기
df_filtered = df.drop(drop_index)

df_filtered

,행정구역(시군구)별,연령별,항목,단위,2024.07 월,2008 년,2009 년,2010 년,2011 년,2012 년,...,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년,2022 년,2023 년,Unnamed: 21
0,전국,계,총인구수[명],명,51265238,49540367.0,49773145.0,50515666.0,50734284.0,50948272,...,51529338,51696216,51778544,51826059,51849861,51829023,51638809,51439038,51325329,NaN
1,전국,계,남자인구수[명],명,25528507,24822897.0,24929939.0,25310385.0,25406934.0,25504060,...,25758186,25827594,25855919,25866129,25864816,25841029,25746684,25636951,25565736,NaN
2,전국,계,여자인구수[명],명,25736731,24717470.0,24843206.0,25205281.0,25327350.0,25444212,...,25771152,25868622,25922625,25959930,25985045,25987994,25892125,25802087,25759593,NaN
21,전국,6세,총인구수[명],명,346359,494660.0,493040.0,473718.0,435724.0,449057,...,447817,473401,476061,489604,441362,440710,444555,413162,364740,NaN
22,전국,6세,남자인구수[명],명,177625,258531.0,256152.0,245698.0,225690.0,232273,...,230602,244059,244330,251225,226090,225736,227809,211336,187700,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5257,제주특별자치도,17세,남자인구수[명],명,3653,4110.0,4573.0,4462.0,4642.0,4571,...,4363,4327,4580,4112,3752,3733,3585,3434,3531,NaN
5258,제주특별자치도,17세,여자인구수[명],명,3438,3941.0,3884.0,4126.0,4142.0,4197,...,3910,3946,4328,3710,3235,3432,3194,3030,3229,NaN
5259,제주특별자치도,18세,총인구수[명],명,6378,6911.0,8015.0,8450.0,8546.0,8761,...,8715,8319,8304,8943,7827,6991,7153,6748,6425,NaN
5260,제주특별자치도,18세,남자인구수[명],명,3344,3742.0,4096.0,4572.0,4447.0,4631,...,4547,4391,4337,4592,4114,3758,3724,3579,3409,NaN
5261,제주특별자치도,18세,여자인구수[명],명,3034,3169.0,3919.0,3878.0,4099.0,4130,...,4168,3928,3967,4351,3713,3233,3429,3169,3016,NaN

In [10]:
age_filter = df_filtered

In [11]:
# 2. 전체 아동수 계산: 연령별로 데이터를 합산
age_total = age_filter.groupby('연도').sum()

# 3. 아동1 (강원, 충청, 전라, 경상) 데이터 계산
regions_아동1 = ['강원', '충청', '전라', '경상']
아동1 = age_filter[age_filter['행정구역(시군구)별'].isin(regions_아동1)].groupby('연도').sum()

# 4. 아동2 데이터 계산 (전체 - 아동1)
아동2 = age_total - 아동1

# 5. 새로운 데이터프레임 생성
df_result = pd.DataFrame({
    '연도': age_filter['연도'],
    '전체아동수': age_total,
    '아동1': 아동1,
    '아동2': 아동2
})

# 결과 확인
print(df_result)

KeyError: '연도'